-- Adiciona os novos campos de estoque separados por depósito na Matriz
ALTER TABLE products ADD COLUMN IF NOT EXISTS stock_matriz_ibotirama numeric default 0;
ALTER TABLE products ADD COLUMN IF NOT EXISTS stock_matriz_barreiras numeric default 0;

-- Migra o estoque antigo (se houver) da Matriz para Ibotirama como padrão
UPDATE products SET stock_matriz_ibotirama = stock_matriz WHERE stock_matriz IS NOT NULL AND stock_matriz > 0;

-- Adiciona o campo de registro de depósito nas vendas
ALTER TABLE sales ADD COLUMN IF NOT EXISTS matriz_deposit text;
ALTER TABLE stock_movements ADD COLUMN IF NOT EXISTS matriz_deposit text;
